@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Sofia Sans", sans-serif;
  box-sizing: border-box;
}
body {
  background: rgb(31, 30, 30);
}

.general img {
  margin: 0 auto;
  display: block;
}

.general h1 {
  text-align: center;
  color: whitesmoke;
  font-size: 50px;
  font-weight: bold;
}
.general p {
  text-align: center;
  color: whitesmoke;
  font-size: 25px;
}
